

    
      <div class="container">
 

        <div class="top5">
            <h1>Generes <i class="fa fa-book" aria-hidden="true"></i> </h1>

        </div>
           
           <div class="row">

            <a  href= "/genere" class="browBtn">genero</a>
            
           </div>
          
      </div>
         <div class="top5">
                   <h1>TOP 5 </h1>

        </div>

        
            <div class="row2">
                <div class="card">
                    <img></img>
                    <p>title</p>
                    <p>rating</p>
                    <p>price</p>
                    <button>Add to cart</button>
                </div>
              

            </div>

      <div class="row">
  
        <div class="top5">
            <h1> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Something Specific?<i class="fa fa-book" aria-hidden="true"></i> </h1>

        </div>


        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">Search</span>
            </div>
          </div>
        

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Author" aria-label="Author" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">Search</span>
            </div>
          </div>
        


       </div>

    
 
 <footer>

  <h2>“I guess there are never enough books.” – John Steinbeck</h2>

 </footer>

  

