
      <div class="container">
 

        <div class="top5">
            <h1>Generes <i class="fa fa-book" aria-hidden="true"></i> </h1>

        </div>


        <div class="row3">
            <div class="card2" style="width: 18rem;">
                <img src="..." class="cardImg" alt="...">
                <div class="card-body">
                  <h5 class="bookTitle">{{title}}</h5>
                  <p class="rating">rating</p>
                  <p class="price">price</p>
                  <button type="button" class="btnMore" data-toggle="modal" data-target="#myModal">More Info <i class="fa fa-plus" aria-hidden="true"></i></button>
                  <a href="#" class="btnAdd">Add to cart <i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>

           
              
        </div>


        

     </div>
    
 
 <footer>

  <h2>"So please, oh please, we beg, we pray, go throw your TV set away, and in its place you can install a lovely bookshelf on the wall." – Roald Dahl</h2>

 </footer>

  
</body>
</html>